.c-active {
  background-color: white !important;
  color: #e60029 !important;
  .c-sidebar-nav-icon {
    color: #e60029 !important;
  }
  .badge {
    background-color: #e60029 !important;
    color: #fff !important;
  }
}

.c-sidebar-nav-link:hover {
  background-color: white !important;
  color: #e60029 !important;
  .c-sidebar-nav-icon {
    color: #e60029 !important;
  }
  .badge {
    background-color: #e60029 !important;
    color: #fff !important;
  }
}

//header btns
.c-subheader-nav {
  .btn-group .btn {
    border: 1px solid lightgray !important;
  }

  .btn-group .btn:hover {
    background-color: #e60029;
    color: #fff;
  }
}
