/*Large_Diagram_Photos Photos*/

.Large_Diagram_Photos .img_container {
  min-height: 70vh;
  max-height: 70vh;
}
.Large_Diagram_Photos .img_container img {
  width: 100%;
  height: 70vh;
  object-fit: contain;
}
.Large_Diagram_Photos .rotate_btn {
  position: absolute;
  right: 10px;
  padding-right: 15px;
  padding-top: 5px;
  margin-right: auto;
  font-size: 20px;
  color: #414141;
  z-index: 5;
}
