.react-calendar {
  font-family: Lato;
  width: 100%;
  height: 100%;
}
.react-calendar__navigation {
  background-color: #e60029;
}
.react-calendar__navigation__label {
  color: white;
}
/*right buttons*/
.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
  color: white;
}
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  color: white;
}
/*left buttons*/
.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
  color: white;
}
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
  color: white;
}
/*Days Background*/
.react-calendar__month-view__weekdays {
  background-color: lightgray;
}
/*main background*/
.react-calendar__viewContainer {
  background-color: white;
}
