.newtabs .list-inline {
  margin-top: 20px;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
}
.newtabs .list-inline .list-inline-item {
  margin-right: 0px;
}

.newtabs .list-inline .list-inline-item p {
  cursor: pointer;
  text-align: center;
  min-width: 100px;
  display: inline-block;
  border: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 0px;
  margin: 0px;
}
.newtabs .list-inline .list-inline-item #mostLeft {
  border-radius: 4px 0 0 4px !important;
}
.newtabs .list-inline .list-inline-item #mostRight {
  border-radius: 0px 4px 4px 0px !important;
}
.newtabs .list-inline .list-inline-item .active {
  background-color: #414141;
  color: #fff;
  font-size: 13px;
  font-family: PoppinsSemiBold;
}

.tabs .nav-link {
  color: #e60029;
}
.tabs .nav-link:hover {
  background-color: #e60029;
  color: #fff;
}

.tabs .justify-content-start {
  justify-content: flex-end !important;
  color: black !important;
}
.tabs .page-link {
  color: gray !important;
  margin: 2px;
}
.tabs .page-link:hover {
  color: #fff !important;
  background-color: #e60029 !important;
}

.test .page-item.active .page-link {
  color: #fff !important;
  background-color: #e60029 !important;
  border: 1px solid #e60029 !important;
}

//search bar
.input-group-prepend {
  border-radius: 25px;
}
.searchIcon {
  background-color: #fff !important;
  border-left: none;
  border-radius: 0px 25px 25px 0px !important;
}

.custTable td {
  min-width: 200px !important;
}
