@font-face {
  font-family: PoppinsReg;
  src: url("./assets/font/Poppins-Regular.ttf");
}
@font-face {
  font-family: PoppinsMed;
  src: url("./assets/font/Poppins-Medium.ttf");
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url("./assets/font/Poppins-SemiBold.ttf");
}
* {
  box-sizing: border-box;
}

html,
body {
  font-family: PoppinsReg !important;
  margin: 0;
  padding: 0;
  height: 100%;
}

body p {
  font-size: 13px;
  color: #414141;
}
body .p2 {
  font-family: PoppinsMed !important;
  font-size: 13px;
}
body .p3 {
  font-family: PoppinsMed !important;
  font-size: 11px;
}
body .p4 {
  font-size: 13px;
  color: #8d8d8d;
}
body span {
  font-size: 13px;
}
body h5 {
  font-family: PoppinsSemiBold !important;
  font-size: 20px !important;
  color: #414141;
}
body h6 {
  font-family: PoppinsSemiBold !important;
  font-size: 15px !important;
}

.container-fluid-container {
  padding: 20px;
  background-color: #f5f5f5;
  overflow: hidden;
  margin-left: 200px;
  min-height: 100vh;
}
.footStyle {
  padding: 20px;
  background-color: #f5f5f5;
  overflow: hidden;
  margin-left: 200px;
}

.footStyle p {
  color: #e60029;
}

@media only screen and (max-width: 867px) {
  .container-fluid-container {
    margin-left: 0px;
  }
  .footStyle {
    text-align: center;
    margin-left: 0px !important;
  }
}
