.btn {
  outline: none;
  box-shadow: none;
  border: none;
}

.btnStyle {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0px !important;
}
.btnStyle:hover {
  background-color: #e60029 !important;
  color: #fff !important;
}

.custTable td {
  min-width: 100px !important;
}
.custTable th {
  min-width: 100px !important;
}

.cost_Table {
  max-width: 220px;
  float: left;
  margin-right: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
